﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Bank_Limit_Tracket.DAL.Models

@model List<BankDetails>

<div class="jumbotron">
    <table>
        <thead>
            <tr>
                <th>
                    Bank Name
                </th>
                <th>
                    Bank Rating
                </th>
                <th>
                    Total Assets ($)
                </th>
                <th>
                    Calculated Limit ($)
                </th>
                <th>
                    Current Date
                </th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].bankName</td>
                    <td>@Model[i].rating</td>
                    <td>@Model[i].totalAssets.ToString("C")</td>
                    <td>@Model[i].calcLimit.ToString("C")</td>
                    <td>@Model[i].currDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>
